:root {
  base-color: #ffffff;
  base-variant: #f4f4f4;
  text-color: #111528;
  secondary-text: #232738;
  primary-color: #3a435d;
  accent-color: #4caf50;
}

.darkmode {
  base-color: #070b1d;
  base-variant: #101425;
  text-color: #ffffff;
  secondary-text: #a4a5b8;
  primary-color: #3a435d;
  accent-color: #0071ff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: var(--base-variant);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 500px;
  margin: auto;
  background-color: var(--base-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, input, button {
  margin: 10px 0;
  box-sizing: border-box;
}

input {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
  border: 1px solid var(--secondary-text);
  border-radius: 5px;
  background: var(--base-variant);
  color: var(--text-color);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 5px;
  border: 1px solid var(--secondary-text);
  text-align: center;
}

th {
  background-color: var(--accent-color);
  color: white;
}

button {
  background-color: var(--accent-color);
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

#theme-switch {
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

#theme-switch svg {
  fill: var(--text-color);
}

.sun-icon {
  display: none;
}

.darkmode .moon-icon {
  display: none;
}

.darkmode .sun-icon {
  display: inline;
}

